<div class="flex flex-col p-5 justify-center items-center">
    <div class="mt-7 mb-7">
        <h1 class="text-3xl">Registrar Usuario</h1>
    </div>
    <form (ngSubmit)="actualizar()" enctype="multipart/form-data">
        <div class="flex flex-col gap-2 mb-3">
            <label class="text-sm font-semibold">Nombre del Usuario</label>
            <input class="rounded-xl p-2 border border-black" name="nombreProducto" type="text"
                [(ngModel)]="usuario.nombreUsuario">
        </div>
        <div class="flex flex-col gap-2 mb-3">
            <div class="flex flex-col gap-2">
                <label class="text-sm font-semibold">Correo</label>
                <input class=" rounded-xl p-2 border border-black" name="fechaFabricacion" type="text"
                    [(ngModel)]="usuario.correo">
            </div>
        </div>
        <div class="flex flex-col gap-2 mb-8">
            <div class="flex flex-col gap-2">
                <label class="text-sm font-semibold">Dni</label>
                <input class="rounded-xl p-2 border border-black" name="fechaVencimiento" type="text"
                    [(ngModel)]="usuario.dni">
            </div>
        </div>
        <div class="flex flex-row gap-5 justify-center">
            <a routerLink="/usuarios"
                class="inline-block hover:transform hover:scale-110 duration-300 pointer-events-auto rounded-xl p-2 bg-blue-600 text-white font-semibold">Regresar
                al listado</a>
            <button
                class="bg-green-600 hover:transform hover:scale-110 duration-300 rounded-xl p-2 font-semibold text-white border border-solid">Actualizar
                Usuario</button>
        </div>
    </form>
</div>