<div id="root" class="mt-5 flex flex-col gap-5">
    <div role="region" tabindex="-1" style="pointer-events: none;">
    </div>
    <div class="">
        <div class="flex flex-row justify-center gap-5">
            <a (click)="cambiarEstado(true)" [ngClass]="cambiarPestana!=false? 'bg-slate-800':''" class="
            inline-block hover:transform hover:scale-105 duration-300 text-white font-semibold
            cursor-pointer rounded-xl bg-slate-500 p-2">VISTA DE PRODUCTOS</a>
            <a (click)="cambiarEstado(false)" [ngClass]="cambiarPestana!=true?'bg-slate-800':''" class="
            inline-block hover:transform hover:scale-105 duration-300 text-white font-semibold
            cursor-pointer rounded-xl bg-slate-500 p-2">GESTION DE PRODUCTOS</a>
        </div>
    </div>
    <div class="p-5">
        <div *ngIf="cambiarPestana!=false" class=""><app-catalogo-productos></app-catalogo-productos></div>
        <div *ngIf="cambiarPestana!=true"class="">
            <app-gestion-productos></app-gestion-productos>
            <app-registro-producto></app-registro-producto>
            <app-actualizar-producto></app-actualizar-producto>
        </div>
    </div>
</div>