<div>
    <div>
        <label>Nombre del Producto</label>
        <input type="text">
    </div>
    <div>
        <label>Fecha de Fabricacion</label>
        <input type="date">
    </div>
    <div>
        <label>Fecha de Vencimiento</label>
        <input type="date">
    </div>
    <div>
        <label>Stock</label>
        <input type="number">
    </div>
    <div>
        <label>Precio</label>
        <input type="number">
    </div>
    <div>
        <label>Categoria</label>
        <input type="number">
    </div>
    <div>
        <label>Clasificacion del Producto</label>
        <input type="number">
    </div>
    <div>
        <label>Imagen</label>
        <input type="file">
    </div>
</div>