<div>
    <form (ngSubmit)="registrarProducto()">
    <div>
        <label>Nombre del Producto</label>
        <input name="nombreProducto" type="text" [(ngModel)]="producto.nombreProducto">
    </div>
    <div>
        <label>Fecha de Fabricacion</label>
        <input name="fechaFabricacion" type="date" [(ngModel)]="producto.fechaFabricacion">
    </div>
    <div>
        <label>Fecha de Vencimiento</label>
        <input name="fechaVencimiento" type="date" [(ngModel)]="producto.fechaVencimiento">
    </div>
    <div>
        <label>Stock</label>
        <input name="stock" type="number" [(ngModel)]="producto.stock">
    </div>
    <div>
        <label>Precio</label>
        <input name="precio" type="number" [(ngModel)]="producto.precio">
    </div>
    <div>
        <label>Categoria</label>
        <input name="idCategoria" type="number" [(ngModel)]="producto.idCategoria">
    </div>
    <div>
        <label>Clasificacion del Producto</label>
        <input name="idClasificacion" type="number" [(ngModel)]="producto.idClasificacion">
    </div>
    <div>
        <label>Imagen</label>
        <input name="imagen" type="file" [(ngModel)]="imagen">
    </div>
    <button >Registrar Producto</button>
    </form>
</div>