<div class="flex flex-col mt-5">
    <div>
        <h1 class="text-3xl font-semibold text-center mb-10">Gestionar Productos</h1>
    </div>
    
    <div class="flex flex-col gap-2 p-3">
        <div>
            <button class="rounded-xl bg-blue-500 p-2 text-white font-semibold hover:scale-105 hover:transition hover:duration-300 duration-300 ease-in-out">Registrar Producto</button>
        </div>
        <table class="border-separate border-spacing-0 border border-slate-500 w-full rounded-lg overflow-hidden">
            <thead class="bg-gray-600 text-white">
                <tr>
                    <th class="border border-slate-700 ...">Imagen</th>
                    <th class="border border-slate-700 ...">Descripcion del Producto</th>
                    <th class="border border-slate-700 ...">Stock</th>
                    <th class="border border-slate-700 ...">Precio</th>
                    <th class="border border-slate-700 ...">Fecha de vencimiento</th>
                    <th class="border border-slate-700 ...">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let p of productos">
                    <td class="border border-slate-700 flex justify-center">
                        <img src="{{p.presentacionImg}}" width="70" height="50" >
                    <td class="border border-slate-700 ...">{{p.nombreProducto}}</td>
                    <td class="border border-slate-700 ...">{{p.stock}}</td>
                    <td class="border border-slate-700 ...">{{p.precio}}</td>
                    <td class="border border-slate-700 ...">{{p.fechaVencimiento}}</td>
                    <td class="border border-slate-700 overflow-hidden p-2">
                        <a class="inline-block mr-2 cursor-pointer bg-green-300 font-semibold rounded-full p-2 hover:scale-105 transition duration-300 ease-in-out ">Actualizar</a>
                        <a class="inline-block cursor-pointer bg-red-500 text-white font-semibold rounded-full p-2 hover:scale-105 hover:transition hover:duration-300 duration-300 ease-in-out">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>